@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    background-image: url('/img//bg.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

body {
    &:before {
        content: '';
        width: 65vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        transform: skewX(-10deg);
        transform-origin: top right;
    }

    &:after {
        content: '';
        width: 100vw;
        height: 100vh;
        background-color: rgba(6, 32, 60, 0.8);
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
    }
}

main {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    section {
        &:first-of-type {
            width: 65vw;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        &:last-of-type {
            width: 35vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

.avatar {
    width: 400px;
    height: auto;
    margin-bottom: 45px;
}

h1 {
    color: #FFF;
    font-size: 36px;
    margin-bottom: 45px;
}

.info {
    font-size: 16px;
    line-height: 123%;
    color: #FFF;
}

.link {
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    
    i {
        margin-left: 15px;
        margin-right: 15px;    
    }

    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: #ddd;
    }

    .icon {
        width: 30px;
        height: 30px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-flex;

        &.icon-github {
            background-image: url('/img/github-square-brands.svg');
        }

        &.icon-twitter {
            background-image: url('/img/twitter-square-brands.svg');
        }

        &.icon-linkedin {
            background-image: url('/img/linkedin-brands.svg');
        }

        &.icon-facebook {
            background-image: url('/img/facebook-square-brands.svg');
        }
    }
}